<!doctype html> 
<html ng-app="app"> 
<head> 
    <title>Park Wait Times</title> 
      <link rel="icon" type="image/ico" href="img/favicon.ico"/>
    <script src="angular/angular.js"></script>
	<script src="angular/kinetic.min.js"></script>
	<!-- <script src="angular/Loader.js"></script> -->
	<script src="angular/xml2json.js"></script>
	<script src="angular/jquery.min.js"></script>
	<!-- <script src="angular/PinchLayer.js"></script> -->
	<script src="scripts/controller2.js"></script>
    <!--mce:0--> 
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
</head> 
<body> 

    <div ng-controller="IndexCtrl" ng-cloak> 
        <div id="container"></div>
		<button ng-click="refresh();" ng-init="refresh()">
		refresh
		</button>
		<!-- <button ng-click="update()" >
		save
		</button>
		<button ng-click="flag = !flag;" >
		create new ride
		</button>
		
		<button ng-click="flag2 = !flag2;" >
		update ride name
		</button>
		<div ng-show="flag">
			Ride Name: <input type = "text" ng-model="createRideName"><br>
			<button ng-click="createNewRide()">Done</button>
		</div>
		<div ng-show="flag2">
			Ride ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type = "text" ng-model="newRideNameID"><br>
			New Ride Name: <input type = "text" ng-model="newRideName"><br>
			<button ng-click="updateRideName()">Done</button>
		</div>
		<div ng-show="refreshFlag">
		Refreshing... please wait
		</div>
		<div ng-show="saveFlag">
		Saving... please wait
		</div> -->
    </div> 
	
	
</body> 
</html>